/* add to any component you want to give the fade-in animation on scroll to*/
.fade-in-actor {
    opacity: 0;
}

/* speciffic to the Works title text */
#works-title-cont {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 0rem;/* mod this prop for cutoff behavior */
    max-height: 100%;

    overflow-y: hidden;
}

/* section sizes */
.section-size-lg {
    font-size: 8rem;
}

.section-size-md {
    font-size: 6.5rem;
}

.section-size-sm {
    font-size: 5rem;
}

/* title sizes */
.title-size-lg {
    font-size: 3rem;
}

.title-size-md {
    font-size: 3rem;
}

.title-size-sm {
    font-size: 2rem;
}


/* it styles the rect that shows below the Works title */
.separator-rect {
    width: 80%;
    border: 2px solid black;
    border-radius: 100%; /* this is what allows me to create that neat line shape */
    margin-bottom: 5rem;
}

/* it styles the lines that appear in the Skillset section */
.spacer-rect {
    width: 100%;
    height: 0px;
    border: 1px solid black;
}


footer{
    font-size: 0.8rem;
    background-color: beige;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

footer p {
    margin: 0;
}

footer p.footer-title {
    margin-bottom: 0.5rem;
}


/* standard style for icons */
.icon {
    width: 2rem;
    height: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    filter: invert(35%);
}

/*  */
.icon.icon-footer {
    width: 1rem;
    height: auto;
}

.icon.icon-navbar {
    width: 1rem;
    height: auto;
    margin-bottom: 0.2rem;
}

#profile-section {
    margin-bottom: 10rem;
    margin-top: 3rem;
}

#navbar {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#skills {
    margin-bottom: 10rem;
}