/* Bootstrap has its own font-fality at the p tag level so I cant just use the body or
html tags if I want to override Bootstrap's style */
p, h1, h2, h3, h4, h5, h6, li  {
    font-family: 'Comfortaa', cursive;
}

/* add to any component you want to give the fade-in animation on scroll to*/
.fade-in-actor {
    opacity: 0;
}

/* section sizes */
.section-size-lg {
    font-size: 9rem;
}

.section-size-md {
    font-size: 7rem;
}

.section-size-sm {
    font-size: 6rem;
}

/* title sizes */
.title-size-lg {
    font-size: 4rem;
}

.title-size-md {
    font-size: 3.5rem;
}

.title-size-sm {
    font-size: 3rem;
}


/* standard style for icons */
.icon {
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    height: auto;
    filter: invert(50%);
}

/* Used with ColorIcon component*/
.icon-container {
    position: relative;
    display: inline-block;
}

/* style for icons at the footer section */
.icon.icon-footer {
    width: 1rem;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    filter: invert(35%);
}

/* style for icons at the navbar section */
.icon.icon-navbar {
    width: 1rem;
    height: auto;
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    filter: invert(35%);
}

.card-logo {
    width: 2rem;
    height: auto;
}


/* style for logos (colored svg files). These are used in the Skills section */
.logo {
    --size: 0;
    position: absolute;
    width: 1rem;
    height: auto;
    top: 0;
    left: 0;
    transition: width 0.1s ease-in-out , top 0.1s ease-in-out, left 0.1s ease-in-out;
}

.logo:hover {
    width: calc(var(--size) * 2) !important;
    top: calc(var(--size) * -1) !important;
    left: calc(var(--size) / 2 * -1) !important;
}

.logo:active {
    width: calc(var(--size) * 2) !important;
    top: calc(var(--size) * -1) !important;
    left: calc(var(--size) / 2 * -1) !important;
}

.logo-container {
    position: relative;
}

.logo-description-container {
    --parent-size: 0;

    position: absolute;
    pointer-events: none;
    
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    top: calc(var(--parent-size) * -2.2);
    left: calc(var(--parent-size) * 0.25);
    
}

.logo-container:hover .logo-description-container {
    opacity: 1;
}

.logo-container:active .logo-description-container {
    opacity: 1;
}

.logo-description-text {
    position: relative;
    right: calc(50% - 0.5rem);
    white-space: nowrap;

    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 0.3rem;
    background-color: white;
    padding: 0.2rem;
}


.img-md {

    margin-right: 3rem;
    margin-left: 3rem;
}

.img-w-s {
    width: 15%;
}

.img-w-m {
    width: 25%;
}

.img-w-l {
    width: 40%;
}

@media screen and (max-width: 555px) {
 
    .img-w-s {
        width: 25%;
    }
    
    .img-w-m {
        width: 50%;
    }
    
    .img-w-l {
        width: 80%;
    }
}

/* MARKDOWN STYLES */
.pre {
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid darkgray;
    border-radius: 0.2rem;
    background-color: rgb(235, 236, 236);
}

.font-readable p{
    font-family: var(--bs-body-font-family);
}

.font-readable ul{
    font-family: var(--bs-body-font-family);
}

.font-readable li{
    font-family: var(--bs-body-font-family);
}

.card-img-cont {
    overflow: hidden;
}

.card-img{
    object-fit: cover;
    flex-grow: 1;
}

.profile-page-container {
    overflow: hidden;
}

.title-page {
    --page-vel: 0.0s;
    transition: transform var(--page-vel) ease-in-out;
    left:0px;
}

.disable-click {
    pointer-events: none;
}

